@implements IDisposable

@code {
    private static int InstanceCount = 0;
    private long Serial { get; } = ++InstanceCount;
}

<div id="@OriginId" class="graph-origin"></div>

<RenderBarrier @ref="@renderBarrier">

    @foreach (var edge in Context?.PlottedEdges ?? [])
    {
        <GraphEdge @key="@edge" From="@edge.From" To="@edge.To" />
    }

</RenderBarrier>

@code {
    [CascadingParameter]
    public GraphEdgeContext? Context { get; set; }

    private RenderBarrier? renderBarrier;
    private bool subscribed;
    private string OriginId => $"graph-origin-{Serial}";

    public async Task Redraw()
    {
        if (renderBarrier is not null)
        {
            await renderBarrier.Redraw();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Context is not null)
        {
            Context.OriginSelector = $"#{OriginId}";
            Context.EdgesChanged += Redraw;
            subscribed = true;
        }
    }

    void IDisposable.Dispose()
    {
        if (subscribed)
        {
            Context.EdgesChanged -= Redraw;
        }
    }
}
