@implements IDisposable

@code {
    private static int InstanceCount = 0;
    private long Serial { get; } = ++InstanceCount;
}

<div id="@OriginId" class="graph-origin"></div>

<RenderBarrier @ref="@renderBarrier">

    @foreach (var edge in EdgeContext?.PlottedEdges ?? [])
    {
        <GraphEdge @key="@edge"
            From="@edge.From"
            To="@edge.To"
            Width="@(edge.CreatedFrom.Width ?? GraphEdge.DEFAULT_WIDTH)"
            Color="@(edge.CreatedFrom.Color ?? GraphEdge.DEFAULT_COLOR)"
            Dashed="@(edge.CreatedFrom.Dashed ?? GraphEdge.DEFAULT_DASHED)" />
    }

</RenderBarrier>

@code {
    [CascadingParameter]
    public GraphEdgeContext? EdgeContext { get; set; }

    private RenderBarrier? renderBarrier;
    private bool subscribed;
    private string OriginId => $"graph-origin-{Serial}";

    public async Task Redraw()
    {
        if (renderBarrier is not null)
        {
            await renderBarrier.Redraw();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (EdgeContext is not null)
        {
            EdgeContext.OriginSelector = $"#{OriginId}";
            EdgeContext.EdgesChanged += Redraw;
            subscribed = true;
        }
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);

        if (subscribed)
        {
            EdgeContext!.EdgesChanged -= Redraw;
            subscribed = false;
        }
    }
}
